.v-card .v-card--material__heading {
  position: relative;
  top: -40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
}
.v-application {
    background-color: #8d448b;
}
.v-sheet {
    border-radius: 4px;
}